* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --calculator: #000000;
  --border: #2b2c28;
  --buttons: #333;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

main {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  padding: 10px;
  margin-top: 50px;
}

.calculator {
  background-color: var(--calculator);
  width: 430px;
  padding: 20px;
  border: 15px solid var(--border);
  border-radius: 50px;
  height: 912px;
  box-shadow: 0px 20px 15px #33333335;
  display: flex;
  flex-direction: column;
  position: relative;
}

.top {
  display: flex;
  justify-content: space-between;
  height: 170px;
  padding: 0 20px;
  color: #fff;
}

.screen {
  font-weight: 200;
  margin-bottom: 20px;
  color: #fff;
  text-align: right;
  font-size: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.grid-btn {
  border-radius: 50%;
  display: flex;
  font-size: 40px;
  height: 85px;
  justify-content: center;
  align-items: center;
  width: 85px;
  background: var(--buttons);
  color: #fff;
  transition: ease-out 0.3s;
}

.span-2 {
  background: var(--buttons);
  color: #fff;
  grid-column: span 2;
  width: auto;
  border-radius: 57.5px;
  justify-content: flex-start;
  padding-left: 43px;
}

.function {
  background-color: #a5a5a5;
  color: #000000;
  font-size: 30px;
}

.operator {
  background: #f1a33c;
  font-size: 44px;
}

.bottom {
  width: 150px;
  height: 5px;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.grid-btn:hover {
  filter: brightness(150%);
}
.operator:hover,
.operator:focus,
.operator:active {
  background: #fff;
  color: #f1a33c;
  filter: brightness(110%);
}
.operator:last-child:hover,
.operator:last-child:focus,
.operator:last-child:active {
  background: #f1a33c;
  color: #fff;
}
button {
  cursor: pointer;
}
